/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --text-color: #353430;
  --button-color-transperancy: #32312d66;
  --theme-color: #353430;
  --subtitle-color: #353430;
  --accent-color: #ff8dcb;
  --decoration-color: transparent;
  --decoration-color-element: transparent;
  --title-color: #ffc2e6;
  --display_switch: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --text-color: #353430;
    --button-color-transperancy: #32312d66;
    --theme-color: #353430;
    --subtitle-color: #353430;
    --accent-color: #ff8dcb;
    --decoration-color: transparent;
    --decoration-color-element: transparent;
    --title-color: #ffc2e6;
    --display_switch: none;
  }
}


.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
